/* application specific css and blueprint overrides go here... */

body {
  margin-top: 0;
  background-color: #eee;
}

#header {
  margin: 0px auto;
  height: 82px; 
  background-color: #eee;
  border-bottom: 4px solid #ccc;
}

#footer {
  margin: 0px auto;
  height: 62px; 
  background-color: #eee;
  border-top: 4px solid #ccc;
}

#subheader, #subfooter {
  margin: 0pt auto;
  padding: 0px 10px;
  position: relative;
  width: 930px;
}

#wrap {
  width: 100%;
  background-color: #fff;
}

.container {
  background-color: #fff;
}

#main_content,
#sidebar {
  margin-top: 1em;
}

#sidebar-inner,
#main_content-inner {
  padding: 0 10px;
}

#navigation ul {
  list-style-type: none;
}

#navigation li {
  display: inline;
  padding: 0.5em;
}
